$font-base-xs: 12px;
$font-base-xs-l: 13px;
$font-base-sm-xs: 13px;
$font-base-sm-s: 16px;
$font-base-sm: 18px;
$font-base-md: 24px;
$font-base-lg: 30px;
$font-heading-xs: 32px;
$font-heading-sm: 40px;
$font-heading-md: 48px;
$font-heading-lg: 56px;

$m-main: #16cdc7;
$m-main--b: #02bdad;
$m-black-3: #333;
$m-black-6: #666;
$m-black-9: #999;
$m-black-4a: #4a4a4a;
$m-black--cd6: #ccccd6;
$m-black--eee: #eee;
$m-black--ccc: #ccc;
$m-black--ddd: #ddd;
$m-black--ef3: #eeeef3;
$m-black--8ff: #f5f8ff;
$m-black--9fc: #f9f9fc;
$m-black--b4b: #FF4B4B;
$m-black--f3f: #f3f3f3;

$white:#FFF;
$radius:4px;
$count-radius:8px;

$center-max-width:1146px;
$desc-img-min-width:1920;
$product-image-thumb-size:90px;
$product-image-box:570px;
$product-image-size:530px;
$m-header-start: #7384FF;
$m-header-temp: #39A9FF;
$m-header-stop: #36ABFF;